# Dump file
*.stackdump

# MacOS Files
.DS_Store
.AppleDouble
.LSOverride

# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.hex

# Debug files
*.dSYM/
